.expName {
    font-family: Georgia;
    background-color: teal;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.equation {
    font-size: 36px;
}

.num {
    background-color: yellow;
}